- var sitename='Site des points génie'
doctype html
html(lang="fr")
  head
    title=sitename
    meta(name='viewport', content='width=device-width, initial-scale=1')
    unless STYLE_URL === undefined
      link(rel='stylesheet', href='/' + STYLE_URL) 
  body
    .page-container
      != render
    .footer
      b Version
      span - #{version} - #{commit}

    script(type='text/javascript').
      window.DATA = 
      != DATA

    unless SCRIPT_URL_COMMON === undefined
      script(type='text/javascript', src=SCRIPT_URL_COMMON)
    
    script(type='text/javascript', src=SCRIPT_URL_APP)
